/* CSS Document */
/*register*/
div#total_login
{
	text-align:center;
	background-color:white;
	padding-bottom:200px;
}
#top_cart_count{
	float:right;
	margin-left:5px;
}
div#total_cart
{
	text-align:center;
	min-height:600px;
}
div#cart_pad
{
	width:1000px;
	text-align:justify;
	margin:0 auto;
}
div#cart_pad_header
{
	width:100%;
	height:100px;
}
div#error_pad_header
{
	width:100%;
	height:100px;
	border-bottom:2px solid #eaeaea;
}
div#cart_pad_content
{
	width:100%;
	margin:10px 0 70px 0;
}
div#error_pad_content
{
	width:100%;
	margin:10px 0 70px 0;
	text-align:center;
}
div#cart_pad_logo
{
	float:left;
	margin-top:20px;
}
div#cart_pad_title
{
	float:left;
	padding:35px 0 0 20px;
	width:200px;
}
span#cart_title_span
{
	font-size: 24px;
	font-weight:500;
	color:#666666;
	font-family: "Microsoft YaHei";
	margin-top:30px;
}
#cart_logo
{
	height:69px;
	width:188px;
}
div#cart_pad_content
{
}
div#cart_pad_content_mycart{
	height:40px;
}
div#cart_pad_content_mycart_text{
	height:32px;
	margin-left:5px;
	padding-top:6px;
	font-size: 16px;
	font-weight:500;
	color:#666666;
	font-family: "Microsoft YaHei";
}
div#cart_pad_content_header{
	height:30px;
	padding-top:10px;
	margin-bottom:10px;
	font-size: 13px;
	color:#666666;
	background-color:#F1F1F1;
	border: 1px solid #eaeaea;
	border-top:2px solid #2672c8;
}
div.cart_pad_content_header_all{
	float:left;
	width:13%;
}
div.cart_pad_content_header_product{
	float:left;
	width:43%;
}
div.cart_pad_content_header_price{
	float:left;
	width:11%;
}
div.cart_pad_content_header_count{
	float:left;
	width:13%;
}
div.cart_pad_content_header_total_price{
	float:left;
	width:10%;
}
div.cart_pad_content_header_operation{
	float:left;
	width:8%;
}
.padding_top_header{
	padding-top:3px;
	padding-left:3px;
}
div#cart_pad_content_items{
	border:1px solid #eaeaea;
}
div.cart_pad_content_item{
	padding-top:10px;
	margin-top:3px;
	height:90px;
	background-color:#fcfcfc;
	border-bottom:1px solid #eaeaea;
}
div.cart_pad_content_item_selected{
	padding-top:10px;
	margin-top:3px;
	height:90px;
	background-color:#fff8e1;
	border-bottom:1px solid #eaeaea;
}
.cart_pad_content_item_checkbox{
	margin:3px 7px 3px 5px;
	padding:0;
	float:left;
}
.cart_pad_content_item_img{
	height:80px;
	width:92px;
	border:2px solid white;
}
.cart_pad_content_product_link{
	font-size:13px;
}
div.cart_pad_content_product_link_wrapper{
	margin:5px;
}
div.cart_pad_content_product_price_wrapper{
	margin-top:5px;
}
div.cart_pad_content_product_operation_wrapper{
	margin-top:8px;
	margin-left:3px;
}
.cart_pad_font_gray{
	color:#666666;
}
div#content_product_detail_adder_div
{
	float:left;
	margin-top:4px;
	margin-left:1px;
	background-color:white;
}
.content_product_detail_adder
{
	height:22px;
	width:20px;
	display:block;
	text-align:center;
	font-size:16px;
	float:left;
	border:1px solid #eaeaea;
	cursor:pointer;
}
.content_product_detail_adder:hover
{
	background-color:#eaeaea;
}
.content_product_detail_adder_input
{
	float:left;
	height:20px;
	width:40px;
	text-align:center;
	border:1px solid #eaeaea;
}
.content_product_detail_unit{
	float:left;
	font-family: "Microsoft YaHei";
	font-size:13px;
	margin-top:7px;
	margin-left:5px;
}
.cart_pad_content_product_price_input{
	width:60px;
	border:none;
	background-color:#fcfcfc;
}
.cart_pad_content_product_price_input_selected{
	width:60px;
	border:none;
	background-color:#fff8e1;
}
.cart_pad_content_product_price_input_red{
	width:60px;
	border:none;
	margin-top:2px;
	color:red;
	background-color:#fcfcfc;
}
.content_product_detail_current_stocklevel{
	width:85px;
	float:left;
	text-align:center;
	margin-top:8px;
	padding-left:12px;
}
.content_product_detail_current_stocklevel_text{
	float:left;
	font-family: "Microsoft YaHei";
	font-size:12px;
}
.content_product_detail_current_stocklevel_text_red{
	float:left;
	font-family: "Microsoft YaHei";
	font-size:12px;
	margin:0 3px 0 3px;
	color:red;
}
.cart_count_input1{
	width:30px;
	border:none;
	margin-top:2px;
	background-color:white;
	color:red;
	float:left;
	font-size:15px;
	text-align:center;
}
.cart_count_input2{
	width:30px;
	border:none;
	margin-top:1px;
	background-color:white;
	color:red;
	float:left;
	font-size:15px;
	text-align:center;
}
.cart_count{
	float:left;
}
.cart_count1{
	margin-top:2px;
	float:left;
}
.cart_pad_content_img{
	margin-top:80px;
}
.total_hidden{
	display:none;
}
.price_black{
	color:black;
	font-family: "Microsoft YaHei";
	font-size:12px;
	font-weight:500;
	margin:0 5px 0 5px;
}
div.cart_pad_content_item_col{
	height:100%;
}
div#cart_pad_content_submit{
	height:40px;
	margin-top:30px;
	border:1px solid #eaeaea;
}
.all_select_button{
	margin-top:10px;
	text-align:center;
	font-size:13px;
	color:#666666;
	float:left;
	font-family: "Microsoft YaHei";
}
.all_select_text{
	margin-top:11px;
	margin-left:5px;
	text-align:center;
	font-size:13px;
	color:#666666;
	float:left;
	font-family: "Microsoft YaHei";
}
.all_remove_text{
	margin-top:11px;
	margin-left:35px;
	text-align:center;
	font-size:13px;
	color:#666666;
	float:left;
	cursor:pointer;
	font-family: "Microsoft YaHei";
}
div#submit_button{
	height:33px;
	width:100px;
	padding-top:7px;
	font-family: "Microsoft YaHei";
	font-size:18px;
	font-weight:500;
	text-align:center;
	float:right;
	color:white;
	background-color:#E5511D;
}
div#submit_button:hover{
	cursor:pointer;
}
div#submit_info{
	margin-top:10px;
	margin-right:20px;
	text-align:center;
	font-size:13px;
	color:#666666;
	float:right;
	font-family: "Microsoft YaHei";
}
.submit_info_red{
	color:red;
	font-size:15px;
	font-weight:500;
}
div.cart_success_pad_table_success{
	height:400px;
	text-align:center;
	border:1px solid #eaeaea;
	background-color:white;
}
.cart_success_result_icon{
	padding-left:250px;
	float:left;
	height:40px;
}
div.cart_success_result{
	margin-top:175px;
}
.cart_success_result_right{
	height:40px;
	float:left;
}
.cart_success_result_font{
	font-family: "Microsoft YaHei";
	margin:5px 10px 0 10px;
	float:left;
	font-size:22px;
}
.cart_success_gotocart_button{
	font-family: "Microsoft YaHei";
	font-size:18px;
	font-weight:500;
	padding-top:6px;
	margin:0 20px 0 20px;
	height:34px;
	width:140px;
	color:white;
	background-color:#E5511D;
	float:left;
	border-radius:3px;
	cursor:pointer;
}
.cart_success_continue{
	font-family: "Microsoft YaHei";
	font-size:13px;
	float:left;
	margin-top:12px;
	cursor:pointer;
}
div#footer_cart
{
	float:left;
	margin-top:100px;
	position:relative;
	width:inherit;
	height:180px;
	border-top:double #eaeaea;
	border-bottom: 1px solid #eaeaea;
}
